In [22]:
import pandas as pd

In [23]:
## path to the pizza
path="pizza_file.csv"

In [24]:
raw_pizza_df=pd.read_csv(path)
##creating the raw dataframe 
raw_pizza_df.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'menuPageURL', 'menus.amountMax', 'menus.amountMin', 'menus.currency',
       'menus.dateSeen', 'menus.description', 'menus.name', 'name',
       'postalCode', 'priceRangeCurrency', 'priceRangeMin', 'priceRangeMax',
       'province'],
      dtype='object')

In [25]:
##removing cells we don't need and making a clean df
clean_pizza=raw_pizza_df[['country','province','menus.amountMax','menus.currency','menus.name', 'name']]
clean_pizza.head()

# clean_pizza["menus.currency"].value_counts()
clean_pizza["country"].value_counts()

US    10000
Name: country, dtype: int64

In [26]:
# making sure all the entries we're looking at are in USD and pizza in america

clean_pizza=clean_pizza[(clean_pizza["menus.currency"]=="USD") & (clean_pizza["country"]=="US")][['province','menus.amountMax','menus.name', 'name']]

#renaming columns
clean_pizza.rename(columns={
    "province":"state",
    "menus.amountMax":"price",
    "menus.name":"menu_item",
    "name":"store_name"
},inplace=True)

clean_pizza

,state,price,menu_item,store_name
0,AR,7.98,Cheese Pizza,Shotgun Dans Pizza
1,AZ,6.00,Pizza Cookie,Sauce Pizza Wine
2,OH,6.49,Pizza Blanca,Mios Pizzeria
3,MI,5.99,Small Pizza,Hungry Howies Pizza
4,MD,5.49,Pizza Sub,Spartan Pizzeria
...,...,...,...,...
9995,NY,37.10,Super Steak Pizza,Carbone's Pizzeria
9996,NY,10.10,Large Cheese & 1 Item Pizza,Carbone's Pizzeria
9997,IL,8.45,"Individual 6"" Pepperoni Stuffed Deep Dish Pizza",Giordano's Pizza
9998,IL,8.45,"Individual 6"" Cheese Stuffed Deep Dish Pizza",Giordano's Pizza
9999,NV,8.79,King Arthur's Supreme Pizza,Round Table Pizza